{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Definir Senha</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"> <!-- Link para o arquivo CSS -->
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Definir Senha</h1>
        <input type="password" name="password" placeholder="Nova Senha"><br>
        <input type="password" name="confirm_password" placeholder="Confirmar Senha"><br>
        <input type="submit" value="Definir Senha">
    </form>
</body>
</html>
